h1 {
    color: blue;
    font-size:33px;
}

li {
    color: darkblue;
}

h1 {text-align: center;}
h3 {font-size: 50px;}
p {text-align: right;}
li {font-size: 30px;}
.image {text-align: right;}
body {background-color: whitesmoke;}